// start blog1
.blog {
    padding-top: 59px;
    padding-bottom: 66px;

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__content {
        width: 729px;
    }

    &__furniture {
        padding-bottom: 50px;
        margin-bottom: 75px;
    }

    &__furniture-images {
        margin-bottom: 25px;
    }

    &__furniture-box {
        max-width: 729px;
        font-size: 14px;
        font-weight: 600;
        color: #707070;
        margin-bottom: 19px;
    }

    &__title {
        max-width: 729px;
        font-family: "Montserrat-Bold";
        font-size: 24px;
        line-height: 38px;
        color: $title;
        margin-bottom: 6px;
    }

    &__text {
        max-width: 729px;
    }

    &__quote {
        width: 729px;
        text-align: center;
        margin: 0 auto;
        background: rgba(#DFDFDF, .5);
        padding: 54px 65px;
        margin-bottom: 74px;
    }

    &__quote-box {
        font-size: 24px;
        font-family: "OpenSans-LightItalic";
        line-height: 38px;
        color: $title;
        position: relative;
        padding-bottom: 23px;
        margin-bottom: 23px;
    }

    &__box::before {
        content: "";
        position: absolute;
        margin: 0 auto;
        right: 0;
        left: 0;
        bottom: 0;
        width: 200px;
        height: 1px;
        background-color: #979797;
    }

    &__quote-author {
        font-family: "Montserrat-Bold";
        line-height: 22px;
        color: $title;
    }

    &__desine {
        padding-bottom: 38px;
        margin-bottom: 54px;
    }

    &__desine-box {
        position: relative;
    }

    &__desine-link {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__table {
        padding-bottom: 50px;
    }

    .slick-btn {
        border: none;
        background-color: transparent;
        position: relative;
    }

    .slick-prev {
        content: "";
        position: absolute;
        top: 50%;
        left: 8px;
        transform: translateY(-50%);
        z-index: 6;
    }

    .slick-next {
        content: "";
        position: absolute;
        top: 50%;
        right: 8px;
        transform: translateY(-50%);
        z-index: 6;
    }

    .pagination {
        width: 729px;
        font-size: 14px;
        font-weight: 600;
        color: #707070;
        &__list {
            display: flex;
            justify-content: center;
        }

        &__item {
            margin-right: 12px;
        }

        &__item-link--active {
            color: $title;
        }
        &__item-images {
            margin-bottom: -2px;
        }
    }
}


// end blog1