// start contacts
.map {
    margin-top: -55px;
}

.breadcrumb {
    position: relative;
    z-index: 100;
}

.contact {
    &__title {
        font-size: 36px;
        line-height: 60px;
        font-family: "Montserrat-Bold";
        color: $title;
        position: relative;
        padding-bottom: 22px;

        &::before {
            content: "";
            position: absolute;
            width: 200px;
            height: 2px;
            background-color: #6D7278;
            bottom: 0;
            left: 0;
        }
    }

    &__box {
        margin-left: 285px;
        margin-top: 40px;
        margin-bottom: 20px;
    }

    .social__list {
        display: flex;
        height: 18px;
        align-items: center;
    }

    .social__item {
        margin-right: 20px;
    }

    .social__item-link--facebook {
        background-image: url('../img/facebook.svg');
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 16px;
        height: 16px;
    }

    .social__item-link--instagram {
        background-image: url('../img/instagram.svg');
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 14px;
        height: 15px;
    }

    .social__item-link--pinterest {
        background-image: url('../img/pinterest.svg');
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 16px;
        height: 16px;
    }

    .social__item-link--whatsapp {
        background-image: url(../img/whatsapp.svg);
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 14px;
        height: 14px;
    }

    .social__item-link--youtube {
        background-image: url(../img/youtube.svg);
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 14px;
        height: 14px;
    }

    &__text {
        max-width: 825px;
        margin-bottom: 10px;
        color: #A1A1A1;
    }

    &__info {
        max-width: 265px;
        color: #5A5A5A;
    }

    &__email {
        margin-top: 16px;
        font-size: 14px;
        color: $title;
        font-family: "OpenSans-SemiBold";
        position: relative;
        padding-left: 20px;
        margin-bottom: 25px;

        &::before {
            content: "";
            position: absolute;
            background-image: url('../img/envelope.svg');
            background-repeat: no-repeat;
            background-position: top center;
            background-size: cover;
            width: 16px;
            height: 12px;
            left: 0;
            top: 9px;
        }
    }

    &__input {
        max-width: 407px;
        width: 100%;
        height: 40px;
        border-radius: 20px;
        border: 1px solid #D8D8D8;
        padding: 0 16px;
        margin-bottom: 13px;

        &::placeholder {
            font-size: 14px;
            color: #A1A1A1;
        }
    }

    .contact__input+.contact__input {
        margin-left: 4px;
    }

    &__textarea {
        max-width: 825px;
        height: 125px;
        width: 100%;
        border-radius: 24px;
        border: 1px solid #D8D8D8;
        padding: 14px 16px;
        margin-bottom: 13px;

        &::placeholder {
            font-size: 14px;
            color: #A1A1A1;
        }
    }

    &__btn {
        max-width: 181px;
        height: 40px;
        background-color: $title;
        padding: 6px 12px;
        text-align: center;
        color: #fff;
        border: none;
        outline: none;
        width: 100%;
        border-radius: 21px;
        margin-bottom: 108px;
    }

    &__slider-desc {
        position: absolute;
        line-height: 22px;
        font-family: "Montserrat-Bold";
        color: $title;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        display: flex;
        padding: 0 5px;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0 auto;
        opacity: 0;
        background-color: rgba(#fff, .6);
        transition: opacity .9s;
    }

    &__slider-images {
        width: 171px;
        height: 170px;
        object-fit: cover;
    }

    &__slider-link {
        position: relative;
    }

}

.contact__slider:hover .contact__slider-desc {
    opacity: 1;
}

.slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 87px;
    li {
        display: inline-block;
        margin-right: 13px;
        margin-left: 13px;
    }
    button {
        font-size: 0;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        border: none;
        outline: none;
        background-color: $title;
        padding: 0;
    }

    li.slick-active {
        button {
            background-color: #FFEF35;
        }
    }

}


// end contacts