// start esthetic
.esthetic {
    margin: 104px 0px 79px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
    position: relative;
    width: 100%;

    &__inner {
        opacity: 0;
        background-color: rgba(#fff, .7s);
        min-height: 600px;
        padding: 170px 0 156px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    &__inner-title {
        font-family: "Montserrat-Bold";
        font-weight: 700;
        color: $title;
        font-size: 60px;
        line-height: 80px;
        padding-bottom: 22px;
        position: relative;
        margin-left: -560px;
    }

    &__inner-title::before {
        content: "";
        position: absolute;
        top: 170px;
        left: 0;
        bottom: 0;
        width: 200px;
        height: 1px;
        background-color: #6D7278;
    }

    &__inner-text {
        max-width: 540px;
        margin-left: -525px;
    }
}

.esthetic:hover .esthetic__inner {
    opacity: 1;
    transition: opacity .6s;
}

// finish esthetic