// start header
@media (max-width: 745px) {
    .header__btn {
        display: none;
    }

    .menu__list-item+.menu__list-item {
        padding-left: 20px;
    }
}

@media (max-width: 530px) {
    .logo {
        order: -1;
        margin-left: 10px;
        position: relative;
        z-index: 100;
    }

    .header__wrapper-top {
        flex-wrap: wrap;
        padding-top: 50px;
    }

    .header__menu {
        padding-right: 0;
        background-color: #fff;
        position: relative;
        width: 100%;
        height: 95px;
        z-index: 90;
        transform: translateY(-300px);
        transition: all 1s;
        text-align: center;

        &--active {
            transform: translateY(41px);
        }
    }

    .menu__list {
        display: block;
        position: absolute;
        right: 0;
        left: 0;
        margin: 0 auto;

    }

    .menu__list-link {
        display: block;
        padding: 12px 0;
    }

    .menu__list-item {
        padding: 0px;
        display: block;
        margin: 0;
    }

    .menu__list-item+.menu__list-item {
        padding-left: 0;
    }

    .header__menu-btn {
        position: relative;
        z-index: 100;
        order: -1;
        display: block;
        cursor: pointer;
        border: none;
        outline: none;
        width: 30px;
        padding: 0;
        background-color: transparent;

        div {
            width: 100%;
            height: 4px;
            background-color: #000;
            margin-bottom: 4px;
        }
    }

    .menu__list-link--active::before {
        // content: "";
        // position: absolute;
        // width: 53px;
        // height: 2px;
        // opacity: .7;
        // border-radius: 1px;
        // background-color: #363838;
        // left: 0;
        // bottom: 0;
        // right: 0;
        // margin: 0 auto;
        display: none;
    }

}

@media (min-width: 531px) {
    .header__menu-btn {
        display: none;
    }
}

// end header

// start footer
@media (max-width: 850px) {
    .footer__items {
        flex-wrap: wrap;
    }

    .footer__item {
        margin: 0 30px 30px 30px;
    }
}

@media (max-width: 640px) {
    .footer__input {
        max-width: 300px;
        display: block;
        margin-bottom: 20px;

        &::placeholder {
            font-size: 14px;
        }
    }

    .footer__button {
        font-size: 14px;
    }
}

@media (max-width: 360px) {
    .footer__input {
        max-width: 250px;
    }

    .footer__item-text {
        font-size: 14px;
    }
}

// end footer

// start slider
@media (max-width: 1310px) {
    .slider__item-title {
        font-size: 66px;
        line-height: 76px;
    }
}

@media (max-width: 1085px) {
    .slider__item-title {
        font-size: 66px;
        line-height: 76px;
    }

    .slider__item-img {
        height: 620px;
    }

    .slider .slick-dots {
        padding-bottom: 25px;
    }
}

@media (max-width: 920px) {
    .slider__item-title {
        font-size: 45px;
        line-height: 55px;
    }

    .slider__item-img {
        height: 500px;
    }

    .slider__item-desc {
        font-size: 14px;
    }
}

@media (max-width: 710px) {
    .slider__item-img {
        display: none !important;
    }

    .slider {
        height: 100%;
    }

    .slider__item-info {
        padding-top: 60px;
    }

    .slider__item-title {
        font-size: 35px;
        line-height: 45px;
    }

    .slider .slick-dots {
        margin-top: 35px;
    }

    .slider .slick-dots button {
        width: 10px;
        height: 10px;
    }
}

@media (max-width: 710px) {
    .slider__item-title {
        font-size: 25px;
        line-height: 35px;
    }

    .slider__item-desc {
        font-size: 13px;
    }
}

// end slider

// start collection
@media (max-width: 1530px) {
    .collection__box-wrapper {
        grid-template-columns: repeat(4, 1fr)
    }
}

@media (max-width: 1150px) {
    .collection__box-wrapper {
        grid-template-columns: repeat(3, 1fr)
    }
}

@media (max-width: 850px) {
    .collection__box-wrapper {
        grid-template-columns: repeat(2, 1fr)
    }

}

@media (max-width: 590px) {
    .collection__box-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }

}

@media (max-width: 500px) {
    .title {
        font-size: 25px;
        line-height: 35px;
    }

    .collection__inner-text {
        font-size: 14px;
    }
}

@media (max-width: 335px) {
    .collection__inner-text {
        font-size: 13px;
    }
}

// end collection

// start esthetic
@media (max-width: 1110px) {
    .esthetic__inner-title {
        margin-left: -35px;
    }

    .esthetic__inner-text {
        margin-left: 0;
    }
}

@media (max-width: 580px) {
    .esthetic__inner-title {
        font-size: 45px;
        line-height: 55px;
        margin-bottom: 30px;
    }

    .esthetic__inner-title::before {
        top: 125px;
    }

    .esthetic__inner-text {
        width: 100%;
        padding: 0 20px;
    }
}

@media (max-width: 480px) {
    .esthetic__inner-title {
        font-size: 35px;
        line-height: 45px;
    }

    .esthetic__inner-title::before {
        top: 105px;
    }

    .esthetic__inner {
        padding-top: 77px;
        min-height: auto;
    }

    .esthetic {
        margin-top: 0px;
        min-height: auto;
    }
}

@media (max-width: 380px) {
    .esthetic__inner-title {
        font-size: 25px;
        line-height: 35px;
    }

    .esthetic__inner-title::before {
        top: 85px;
    }

    .esthetic__inner-text {
        font-size: 14px;
    }
}

// end esthetic

// start works
@media (max-width: 850px) {

    .works__item--design {
        margin-right: 90px;
    }

    .works__item--measure {
        margin-left: 260px;
    }
}

@media (max-width: 545px) {
    .works__item--measure {
        margin-left: 195px;
    }
}

@media (max-width: 460px) {

    .works__item--product::before,
    .works__item--measure::before {
        display: none;
    }

    .works__items {
        border: none;
        flex-wrap: wrap;
    }

    .works__item--measure {
        margin-left: 0;
        margin-top: 0;
    }

    .works__item-text {
        max-width: 380px;
    }
}

// end works

// start furniture
@media (max-width: 965px) {
    .furniture__inner-btn {
        margin-bottom: 20px;
    }

    .furniture__item {
        grid-gap: 10px;
    }

    .furniture__inner {
        margin: 0 auto 40px;
    }
}

@media (max-width: 550px) {
    .furniture__inner {
        display: grid;
    }

    .furniture__item {
        grid-template-columns: repeat(2, 1fr)
    }

    .furniture__item-link:first-child {
        grid-column: 1;
        grid-row: 1;
    }
}

@media (max-width: 400px) {
    .furniture__item {
        grid-template-columns: repeat(1, 1fr)
    }
}

// end furniture

// start ourblog
@media (max-width: 1125px) {
    .ourblog__items {
        flex-wrap: wrap;
    }

    .ourblog__item {
        margin-bottom: 20px;
    }
}

@media (max-width: 675px) {
    .ourblog__title {
        font-size: 30px;
        line-height: 40px;
    }

    .ourblog__item-text {
        font-size: 18px;
        line-height: 28px;
    }

    .ourblog__item-images {
        max-width: 539px;
        width: 100%;
    }
}

@media (max-width: 500px) {
    .ourblog__title {
        font-size: 25px;
        line-height: 35px;
    }

    .ourblog__item-info {
        flex-wrap: wrap;
    }

    .ourblog {
        margin-bottom: 50px;
    }
}

@media (max-width: 440px) {
    .ourblog__title {
        font-size: 20px;
        line-height: 30px;
        max-width: 400px;
        width: 100%;
    }

    .ourblog__item-info {
        margin-bottom: 25px;
    }
}

@media (max-width: 375px) {
    .ourblog__item-text {
        font-size: 15px;
        line-height: 25px;
    }

    .ourblog__item-info {
        font-size: 12px;
    }
}

// end ourblog

// start about-design
@media (max-width: 1140px) {
    .about-design__title {
        font-size: 25px;
        line-height: 35px;
    }

    .about-design__content {
        max-width: 825px;
        width: 100%;
        margin-left: 0;
    }
}

@media (max-width: 440px) {
    .about-design__title {
        font-size: 20px;
        line-height: 30px;
    }

    .about-design__content {
        font-size: 14px;
    }

    .about-top {
        height: 200px;
        padding: 80px 0;
    }

    .about-top__title {
        font-size: 40px;
        line-height: 50px;
    }
}

@media (max-width: 340px) {
    .about-design__title {
        font-size: 16px;
        line-height: 25px;
    }
}

// end about-design

// start inspiration
@media (max-width: 900px) {
    .inspiration__inner-images {
        display: none;
    }

    .inspiration__list {
        margin-left: 0;
    }

    .gallery {
        padding: 80px 0 40px;
    }
}

@media (max-width: 530px) {
    .inspiration__inner-title {
        font-size: 30px;
        line-height: 40px;
    }

    .inspiration__inner-text {
        font-size: 14px;
        line-height: 32px;
    }
}

@media (max-width: 430px) {
    .inspiration__inner-title {
        font-size: 25px;
        line-height: 35px;
    }
}

@media (max-width: 360px) {
    .inspiration__item {
        font-size: 15px;
    }

    .inspiration__item-text {
        margin-right: 20px;
    }
}

// end inspiration

// start partners
@media (max-width: 880px) {
    .partners__items {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 500px) {
    .partners__items {
        grid-template-columns: repeat(2, 1fr);
    }
}

// end partners

// start blog1
@media (max-width: 1060px) {
    .blog__wrapper {
        flex-wrap: wrap;
    }

    .aside {
        margin-left: 0px;
        order: -1;
    }

    .aside__resents {
        margin-bottom: 20px;
    }

    .blog {
        padding-bottom: 40px;
    }

    .blog__table {
        padding-bottom: 20px;
    }
}

@media (max-width: 760px) {
    .blog__content {
        max-width: 729;
        width: 100%;
    }
}

@media (max-width: 570px) {
    .blog__quote {
        padding: 20px;
    }

    .blog__quote-box {
        font-size: 18px;
        padding-bottom: 0;
    }

    .blog__furniture {
        padding-bottom: 0;
        margin-bottom: 30px;
    }

    .blog__desine {
        padding-bottom: 0;
        margin-bottom: 30px;
    }
}

@media (max-width: 400px) {
    .blog__title {
        width: 100%;
        font-size: 16px;
        line-height: 23px;
    }

    .blog__text {
        font-size: 14px;
        line-height: 23px;
    }

    .blog__quote-box {
        font-size: 14px;
        line-height: 23px;
        padding-bottom: 0;
    }

    .blog__quote-author {
        font-size: 14px;
    }
}

// end blog1

// start blog2
@media (max-width: 800px) {
    .comments__item-share {
        margin-left: 10px;
    }
}

@media (max-width: 650px) {
    .blog__slider-item {
        font-size: 14px;
        line-height: 23px;
    }
}

@media (max-width: 570px) {
    .blog__quote--sigle {
        padding: 0;
    }
}

@media (max-width: 540px) {
    .comments__items {
        flex-wrap: wrap;
    }

    .comments__content {
        margin-top: 20px;
    }

    .comments__form-box {
        flex-wrap: wrap;
    }

    .comments__input:first-child {
        margin-bottom: 20px;
        margin-right: 0;
    }
}

@media (max-width: 385px) {
    .blog__quote-desc--sigle {
        font-size: 14px;
    }
}

// end Blog2

// start Contact
@media (max-width: 1700px) {
    .contact__slider-images {
        width: 100%;
    }
}

@media (max-width: 1140px) {
    .contact__slider-items {
        margin-bottom: 30px;
    }
}

@media (max-width: 700px) {
    .contact__box {
        margin-left: 0;
    }
}

// end Contact